// COLORS
// $grey-main: #b6bbc4;
// $beige-main: #f0ece5;
// $indigo-main: #31304d;
// $indigo-light: #46455f;
// $indigo-dark: #161a30;
// $pink-main: #ff6584;

//COLORS

//Amber
$amber-main: #fbbf24;
//Greys
$grey-background: #09090b;
$grey-background-2: #0e0e10;
$grey-dark: #18181b;
$grey-dark-2: #27272a;
$grey-dark-3: #3f3f46;
$grey-light: #52525b;
$grey-light-2: #a1a1aa;
$grey-light-3: #d4d4d8;
$grey-light-4: #f4f4f5;

//Fonts
$font-main: "Roboto", sans-serif;

//Breakpoints
$bp-largest: 1300px;
$bp-large: 1000px;
$bp-medium: 800px;
$bp-small: 500px;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; //10px
  width: 100%;
  height: 100%;
  font-family: $font-main;
  overflow-x: hidden;
  line-height: 1;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom, $grey-background, $grey-dark);
  color: $grey-light-2;
}

p {
  font-size: 1.6rem;
  @include gradient-text;
  @media only screen and (max-width: $bp-large) {
    font-size: 1.4rem;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.2rem;
  }
}
